.row
  .row{"data-equalizer" => ""}
    .columns.small-10
      .tabs-content
        = render 'property_tabs', node: node
    .columns.small-2.right
      = render 'property_tabs_control', node: node
