:ruby
  link_path ||= current_show_path(node)

.card.small-card
  .card-header
    %h5
      = link_to(link_path) do
        %small.left
          = node.labels.last
        %small.right
          = node.neo_id
        %br
        = node.human_title
    %hr
  .card-body






  .card-footer

