%ul.stack.button-group
  - node_controls.each do |node_control|
    %li
      %a{href: '#', :class => 'button large', data: { 'remote-url' => '', 'destination-element' => 'hashgrid-focus' } }
        = 'X'