.left
.center
.right
  %button.info{disabled: true}
    info
  %button.help{disabled: true}
    help
  %button.cancel{disabled: true}
    cancel
  %button.reset
    reset
  %button.close
    close
  %button.minimize
    minimize
  %button.save
    save
