.card.large-card
  .card-header
    %h2
      Tell me your Idea.
    %hr
  .card-body
    %button.success.radius.right.create-editable-html
      save
    %hr
    = @node.ctn.to_editable_html
    %hr
