.row
  .columns
    %h3 hashgrid nodeplayer

.row
  .columns.hashgrid
    .row
      .columns.hashgrid-c1
        c1
      .columns.hashgrid-e1
        e1
      .columns.hashgrid-c2
        c2

    .row
      .columns.hashgrid-e4
        e4
      .columns.hashgrid-focus
        - @nodes.each do |node|
          = node[:title]
          &nbsp;
      .columns.hashgrid-e2
        e2

    .row
      .columns.hashgrid-c4
        c4
      .columns.hashgrid-e3
        e3
      .columns.hashgrid-c3
        c3
