= simple_form_for :cardtec_node, method: :post, remote: false, url: hashgrid_nodes_path do |f|
  = f.button :submit
  = f.text_area :yaml, value: @node.to_yaml, rows: 20, cols: 80
  = f.button :submit
