.row
  .columns
    %h1 ExamplePage

.row
  .columns.hashgrid-1
    %button.button.success.tiny
      Ein Button
  .columns.small-8.hashgrid-2
    2
  .columns.small-2.hashgrid-3
    3

.row
  .columns.small-2.hashgrid-4
    4
  .columns.small-8.hashgrid-5
    5
  .columns.small-2.hashgrid-6
    6

.row
  .columns.small-2.hashgrid-7
    7
  .columns.small-8.hashgrid-8
    8
  .columns.small-2.hashgrid-9
    9
