.connector{itemscope: '', itemtype: AppConfig.config.semantic_schema.root_url + controller_path.singularize }
  .subject
    %h4
      %data{itemprop: :subject_uuid, value: @first_node.uuid}
        = @first_node.title
  .predicate{itemprop: :predicate_title}
    ???
  .object
    %h4
      %data{itemprop: :object_uuid, value: @last_node.uuid}
        = @last_node.title



.relationship_type_editor
  .relationship_types
    - @all_relationship_types.each_with_index do |title, index|
      %button.relationship_type
        = title
  .new_relationship_type_panel
    = text_field_tag :new_relationship_type, nil, placeholder: 'new relationship', class: :new_relationship_type
  .save_relationship_panel.hide
    %button.save
      save







