.rel_types_with_nodes_to
  %h4
    relationships to:
  %ul.no-bullet
    - @rel_types_with_nodes_to.each do |rel_type, nodes|
      %li
        = rel_type
        - nodes.each do |node|
          %span.has-tip{'data-tooltip' => '', 'aria-haspopup' => 'true', title: node.class.name }
            %small
              = node.human_title


.rel_types_with_nodes_from
  %h4
    relationships from:
  %ul.no-bullet
    - @rel_types_with_nodes_from.each do |rel_type, nodes|
      %li
        = rel_type
        - nodes.each do |node|
          %span.has-tip{'data-tooltip' => '', 'aria-haspopup' => 'true', title: node.class.name }
            %small
              = node.human_title



