.connector.cardtec_tunnel{itemscope: '', itemtype: 'http://dingdealer.de/Statement'}
  .subject_node{@first_node.ctn.to_card_element_properties}
    %h4{itemprop: 'title'}
      = @first_node.title
  .predicate_relationship_type{itemprop: 'predicate', itemscope: '', itemtype: ''}
    ???
  .object_node{@last_node.ctn.to_card_element_properties}
    %h4{itemprop: 'title'}
      = @last_node.title


.relationship_type_editor
  .relationship_types
    - @all_relationship_types.each_with_index do |title, index|
      %button.relationship_type
        = title
  .new_relationship_type_panel
    = text_field_tag :new_relationship_type, nil, placeholder: 'new relationship', class: :new_relationship_type
  .save_relationship_panel.hide
    %button.save
      save
