player, bang!

/ .row
/   .columns
/     %h3 hashgrid nodeplayer

/ .row
/   .columns.hashgrid
/     .row
/       .columns.hashgrid-c1
/         = ".."
/       .columns.hashgrid-e1
/         = ".."
/       .columns.hashgrid-c2
/         = ".."

/     .row
/       .columns.hashgrid-e4(data-initial-remote-url = hashgrid_labels_path)
/         = ".."
/       .columns.hashgrid-focus(data-remote-url = hashgrid_nodes_path)
/         = ".."
/       .columns.hashgrid-e2(data-remote-url = hashgrid_node_controls_path)
/         = ".."

/ .row
/   .columns.hashgrid-c4
/     c4
/   .columns.hashgrid-e3
/     e3
/   .columns.hashgrid-c3
/     c3
