/ %ul.labels.no-bullet.inline-list.right
%ul.labels.stack.button-group
  - labels.each do |label|
    %li
      %a{href: '#', :class => 'button large', data: { 'destination-url' => by_label_hashgrid_nodes_path(label), 'destination-element' => 'hashgrid-focus' } }
        = label