%card-contenteditable
  [contenteditable="true"]
    padding: 2px
    outline: 1px dotted $gainsboro

  [contenteditable="true"]:hover
    outline: 1px dotted $primary-color



%crop-image-container
  position: relative
  overflow: hidden
  img
    @extend %crop-image

%crop-image // maybe use clip for this
  @extend .th
  @extend .radius
  border-width: 5px

  position: absolute
  left:     50%
  top:      50%
  height:   100%
  width:    auto
  -webkit-transform:  translate(-50%,-50%)
  -ms-transform:      translate(-50%,-50%)
  transform:          translate(-50%,-50%)



.cards
  li
    margin: 0.2rem

ul.cards
  margin-left: 0.8rem


.card
  background-color: $white
  @extend .panel
  @extend .radius
  border-radius: 3px
  // @extend %card-horizontal-definition-list
  @extend %card-contenteditable
  border 30px
  img
    @extend .th
    @extend .radius

  .tabs
    .tab-title
      a
        padding: .5rem


.tiny-card
  height:     65px
  min-width:  50px
  padding:    2px 4px
  margin:     2px
  h5
    font-size: 0.5em
    text-align: center
    margin-bottom: 0.2rem
  .main-image
    @extend %crop-image-container
    // width:    110px
    height:   40px
    .th
      border-width: 2px



.small-card
  height: 150px
  width:  120px
  padding: 5px
  h5
    font-size: 0.7em
    text-align: center
  .main-image
    @extend %crop-image-container
    width:    110px
    height:   82px
    .th
      border-width: 3px



.normal-card
  height: 200px
  width:  150px
  h5
    text-align: center


.large-card
  .card-header
  .main-image
    @extend %crop-image-container
    width:    300px
    height:   240px


// .huge-card






.card_maker_concept
  background-color: $color-secondary-1-2

.card_me_actor
  background-color: $color-primary-2

.card_me_contribution
  background-color: $color-complement-0




.cardtec_property
  // @extend .row

.cardtec_property_name
  min-height: 1.7rem
  font-weight: bold
  // &:after
  //   content: ':'
  @extend .small-4
  @extend .columns

.cardtec_property_value
  min-height: 1.7rem
  @extend .small-6
  @extend .columns

.cardtec_property_actions
  @extend .small-2
  @extend .columns
  .button
    margin: 0 0.2rem
    background-color: fade-out($primary-color, 0.8)
    &:hover
      background-color: $primary-color






// currently not in use
// %card-horizontal-definition-list
//   dl
//     margin: 10px 0
//   dt
//     margin: 0 0 0px 0
//     float: left
//     clear: left
//     width: 39%
//   dd
//     float: left
//     width: 59%
//     margin: 0 0 0px 0

