// .top-bar-section
//   li
//     .active
//       .has-dropdown
//         a
//           background-color: #ffffff

.spacer
  margin-top: 0.3rem

#search
  @extend .radius
  font-size: 0.6rem
  height: 1.0rem

#spinner
  color: $jumbo
  &.active
    color: $white



%common_panel
  @extend .panel
  @extend .radius
  @extend .expand
  @extend .clearfix
  // padding: 0.3rem
  // margin-bottom: 0.5rem !important
  background-color: inherit
  // @extend .row


.box_panel
  @extend %common_panel

.trio_panel
  @extend %common_panel
  .left
    text-align: left
    @extend .columns
    @extend .small-4
  .center
    text-align: center
    @extend .columns
    @extend .small-4
  .right
    text-align: right
    @extend .columns
    @extend .small-4

.duo_panel
  @extend %common_panel
  .left
    text-align: left
    @extend .columns
    @extend .small-6
  .right
    text-align: right
    @extend .columns
    @extend .small-6


.duo_field
  @extend .clearfix
  .left
    text-align: left
    @extend .columns
    @extend .small-6
  .right
    text-align: right
    @extend .columns
    @extend .small-6


