$height_top_bottom: 9em
$height_middle: 21em

.hashgrid-1
  background: #ddd
  height: $height_top_bottom
  @extend .small-2
.hashgrid-2
  background: #ccc
  height: $height_top_bottom
.hashgrid-3
  background: #ddd
  height: $height_top_bottom

.hashgrid-4
  background: #ccc
  height: $height_middle
.hashgrid-5
  background: #fff
  height: $height_middle
.hashgrid-6
  background: #ccc
  height: $height_middle

.hashgrid-7
  background: #ddd
  height: $height_top_bottom
.hashgrid-8
  background: #ccc
  height: $height_top_bottom
.hashgrid-9
  background: #ddd
  height: $height_top_bottom
