.spacer
  margin-top: 0.3rem

.cardtec_node_actions
  padding: 0.3rem
  margin-bottom: 0.5rem !important
  @extend .row
  @extend .clearfix

.content
  padding-top: rem-calc(14)
.cardtec_subnav
  margin-bottom: rem-calc(-14)
  @extend .sub-nav

