// .top-bar-section
//   li
//     .active
//       .has-dropdown
//         a
//           background-color: #ffffff

.spacer
  margin-top: 0.3rem


.content
  padding-top: rem-calc(14)


.sub_navigation
  margin-bottom: rem-calc(-14)
  @extend .sub-nav

#control_bar
  ul
    margin-right: 15px
    // margin-left: 10px


.trio_panel
  @extend .panel
  @extend .radius
  @extend .expand
  padding: 0.3rem
  margin-bottom: 0.5rem !important
  // @extend .row
  @extend .clearfix
  background-color: inherit
  .left
    text-align: left
    @extend .columns
    @extend .small-4
  .center
    text-align: center
    @extend .columns
    @extend .small-4
  .right
    text-align: right
    @extend .columns
    @extend .small-4


.duo_panel
  @extend .panel
  @extend .radius
  @extend .expand
  padding: 0.3rem
  margin-bottom: 0.5rem !important
  // @extend .row
  @extend .clearfix
  background-color: inherit
  .left
    text-align: left
    @extend .columns
    @extend .small-6
  .right
    text-align: right
    @extend .columns
    @extend .small-6
