.content
  padding-top: rem-calc(14)

.sub_navigation
  margin-bottom: rem-calc(-14)
  @extend .sub-nav


#control_bar
  ul
    margin-right: 15px
    // margin-left: 10px

#main_card_list
  @extend .box_panel
  padding: rem-calc(10)
  .control
    @extend .duo_field

#editor
  @extend .box_panel
  @extend %card-contenteditable
  background-color: $oil
  font-color: $white

#mixer
  @extend .trio_panel
  background-color: $oil
  font-color: $white
  // @extend .hide






// .width-duration
//   +transition-property(width)
//   +transition-duration(10s)

// .width-duration:hover
//   width: 300px
//   height: 300px