.content
  padding-top: rem-calc(14)

.sub_navigation
  margin-bottom: rem-calc(-14)
  @extend .sub-nav



#side_navigation
  // height: 800px
  // overflow: auto

.side-nav
  button, .button
    @extend .expand
    @extend .radius
    @extend .small

#control_bar
  ul
    margin-right: 15px
    // margin-left: 10px

#main_card_list
  @extend .box_panel
  padding: rem-calc(10)
  // height: 800px
  // overflow: auto
  .control
    @extend .duo_field


