:coffeescript

  editor = new DH.Maker.Editor('#editor')
  editor.add_listener('.cards .card h5')

  mixer = new DH.Maker.Mixer('#mixer')
  mixer.add_listener('.cards .card')

  controls = new DH.Maker.Controls
  controls.add_search('#search')
  controls.add_control_listeners()

  # dialog = new window.DH.Maker.OpenCardInDialog
  # dialog.add_listener $('.cards .card').find('a:first')
  # dialog.add_listener $('#control_bar').find('a:last')
