:coffeescript
  Log = console.log

  m = new DH.Maker.Mixer
  m.add_listener '.cards .card'

  dialog = new window.DH.Maker.OpenCardInDialog
  dialog.add_listener $('.cards .card').find('a:first')
  # dialog.add_listener $('#control_bar').find('a:last')
