:ruby
  link_path ||= current_show_path(node)

.card.large-card{class: dom_class(node, :card)}
  .card-header
    = render 'large_card_header', node: node
    %hr
  .card-body
    = render 'large_card_body', node: node
  .card-footer

