:ruby
  link_path ||= current_show_path(node)

.card.large-card{class: dom_class(node, :card)}
  .card-header
    = render 'large_card_header', node: node
    %hr

  .card-body
    .tabs-content
      = render 'property_tabs', node: node
      = render 'related_nodes_tabs', node: node
      = render 'images_tab', node: node

  .card-footer

