.card.large-card
  .card-header
    %h2
      = render 'node_header', node: node
    %hr
  .card-body
    = render 'property_tabs', node: node
    = render 'related_nodes_tabs', node: node
    - if node.image?
      = image_tag(node.image.url)

