.card.new-card
  .cardtec-header
    = cardtec_header(model_klass.new)

  .card-body
    %h3
      create your
      = model_klass_name.titleize
      %button.alert.radius.right.create-editable-html
        save
    %hr
    = model_klass.new.ctn.to_editable_html
