#edit.content.active
  = trio_panel('edit properties', nil, button_tag(:submit, class: 'success radius update-editable-html'){'save'} )
  = node.ctn.to_editable_html


#yaml.content
  = render 'yaml_form', node: node

#delete.content
  #span.text-center
    = trio_panel('delete', nil, link_to('sure?', current_show_path(node), method: :delete, class: 'button alert radius'))
