%ul.no-bullet{'data-tab' => ''}
  %li
    %a.button.radius.expand{:href => '#edit'}
      = fa_icon :columns, text: 'edit'
  %li
    %a.button.radius.expand{:href => '#yaml'}
      = fa_icon 'file-text-o', text: 'yaml'
  %li
    %a.button.radius.expand{:href => '#delete'}
      = fa_icon :trash, text: 'delete'