%ul.no-bullet{'data-tab' => ''}
  %li.active
    %a.button.radius.expand.small{:href => '#all_related'}
      related nodes
  - node.association_methods.each do |am|
    %li
      %a.button.radius.expand.small{:href => "#related_#{am}"}
        = am
