:ruby
  side_navigation_items ||= @side_navigation_items

%ul.cards
  - if side_navigation_items.map.present?
    - side_navigation_items.each do |node|
      %li
        = render 'tiny_card', node: node