

/ %a{ href: me_root_path, 'data-reveal-id' => :dialog, 'data-reveal-ajax' => 'true' }
/   dialog

#dialog.reveal-modal{'data-reveal' => true}

/ #operations_control
/   %ul.inline-list.cards
/     - @nodes.map.first(5).each do |n|
/       %li
/         = render 'small_card', node: n



#editor{'data-card-path' => current_index_path}
  = render 'new_in_editor'


#mixer
  .left
  .center
  .right


#main_card_list
  %ul.cards
    = render 'cards', nodes: @nodes








-# content_for :javascript do
