#editor
  #new_in_editor
    = render 'new_card'
  #show_in_editor

#mixer
  .shelf
    .left
    .center
    .right
  .operator

#main_card_list
  = render 'main_card_list', nodes: @nodes








-# content_for :javascript do
