

/ %a{ href: me_root_path, 'data-reveal-id' => :dialog, 'data-reveal-ajax' => 'true' }
/   dialog

#dialog.reveal-modal{'data-reveal' => true}

/ #operations_control
/   %ul.inline-list.cards
/     - @nodes.map.first(5).each do |n|
/       %li
/         = render 'small_card', node: n

#operations_control.trio_panel
  .left
  .center
  .right


.trio_panel
  %ul.inline-list.cards#main_card_list
    = render 'cards', nodes: @nodes





/ new window.DH.Maker.OpenCardInDialog($('.cards .card').find('a:first'))
/ new window.DH.Maker.OpenCardInDialog($('#control_bar').find('a:last'))


-# content_for :javascript do
