#editor
  #new_in_editor
    = render 'new_card'
  #show_in_editor

#mixer
  .left
  .center
  .right

#main_card_list
  = render 'main_card_list', nodes: @nodes








-# content_for :javascript do
