%ul.side-nav
  %li
    %a.button.radius.expand{href: modix_nodes_path}
      = fa_icon 'pencil', text: 'list', right: true
  %li
    %a.button.radius.expand{href: new_modix_node_path}
      = fa_icon 'pencil', text: 'add'
