%ul.side-nav
  %li
    %a.button.radius.expand{href: raw_node_nodes_path}
      = fa_icon 'pencil', text: 'list', right: true
  %li
    %a.button.radius.expand{href: new_raw_node_node_path}
      = fa_icon 'pencil', text: 'add'
