%ul.side-nav
  %li
    %a.button.radius.expand{href: current_index_path}
      = fa_icon 'th-large', text: 'list'
  %li
    %a.button.radius.expand{href: current_new_path}
      = fa_icon 'plus-circle', text: 'add'
