:ruby
  side_navigation_items ||= @side_navigation_items


%ul.side-nav
  - if side_navigation_items.present?
    - side_navigation_items.each do |item|
      %li
        %a.button.radius.expand{href: current_path_for_action(:filtered, item)}
          = item
