/ %dl.sub-nav.right
/   %dd
/     %a{:href => "#"} All
/   %dd
/     %a{:href => "#"} Active
/   %dd
/     %a{:href => "#"} Pending
/   %dd
/     %a{:href => "#"} Suspended
/   %dd
/     %a{:href => "#"} Suspended
